<header>
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/add-contact" *ngIf="auth.loggedIn">Add Contact</a></li>
        <li><a routerLink="/list" *ngIf="auth.loggedIn">Naughty or Nice List</a></li>
        <li><a routerLink="/login" *ngIf="!auth.loggedIn">Login</a></li>
        <li><a routerLink="/register" *ngIf="!auth.loggedIn">Register</a></li>
        <li><a (click)="logout()" routerLink="/" *ngIf="auth.loggedIn">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>
