<h1 id="title">Naughty or Nice List</h1>
<table border="1" id="tbl">
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Birthday</th>
    <th>Street</th>
    <th>City</th>
    <th>Province</th>
    <th>Country</th>
    <th>Postal Code</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Naughty</th>
    <th>Date Created</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let c of list">
    <a routerLink="/detail/{{c.id}}">
      <td>{{ c.id }}</td>
      </a>
      <td>{{ c.firstName }}</td>
      <td>{{ c.lastName }}</td>
      <td>{{ c.birthDay | date:'yyyy-MM-dd' }}</td>
      <td>{{ c.street }}</td>
      <td>{{ c.city }}</td>
      <td>{{ c.province }}</td>
      <td>{{ c.country }}</td>
      <td>{{ c.postalCode }}</td>
      <td>{{ c.latitude }}</td>
      <td>{{ c.longitude }}</td>
      <td>{{ c.isNaughty | naughtyNice }}</td>
      <td>{{ c.dateCreated | date:'yyyy-MM-dd' }}</td>
      <td>
        <button class="delete" title="delete child"
                (click)="deleteChild(c)">
          x
        </button>
      </td>
  </tr>
</table>
